<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Trips</title>
</head>
<body>
    <div>
    <div>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Your Trips</h1>
        <a class="add-trip-link" href="/users/<%=user._id%>/trips/new">Add a new Trip</a>
    </div>
    <ul>
        <% trips.forEach((trip)=> { %>
            <li>
                <a href="/users/<%= user._id %>/trips/<%= trip._id %>">
                    <%= trip.destination %> on 
                    <%= trip.startDate ? trip.startDate.toLocaleDateString('en-US') : 'N/A' %> -
                    <%= trip.endDate ? trip.endDate.toLocaleDateString('en-US') : 'N/A' %></a>
            </li>
            <%   }) %>
        </ul>
        </div>
    </body>
</html>